.custom-shape-divider-bottom-1741641867 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1741641867 svg {
  position: relative;
  display: block;
  width: calc(170% + 2.3px);
  height: 650px;
}

.custom-shape-divider-bottom-1741641867 .shape-fill {
  fill: #fff;
}
